:root {
  --bs-primary: #198754 !important;
  --primary-color: #198754 !important;
  --bs-link-color: white !important;
  --bs-link-hover-color: #75b798 !important;
}

.nav-pills {
  --bs-nav-pills-link-active-bg: #198754 !important;
}

.ps-nav {
  margin-bottom: 1em !important;
}
