:root {
  --bs-primary: #198754 !important;
  --primary-color: #198754 !important;
  --bs-link-color: white !important;
  --bs-link-hover-color: #75b798 !important;
}
.nav-pills {
  --bs-nav-pills-link-active-bg: #198754 !important;
}
.ps-outermost {
  margin-left: 0rem !important;
  margin-right: 0rem !important;
  max-width: 100% !important;
}
.ps-nav {
  margin-bottom: 1em !important;
  width: auto !important;
  flex-wrap: nowrap !important;
}
.ps-flex {
  display: flex !important;
  float: left !important;
  white-space: nowrap !important;
}
.ps-inline-flex {
  display: inline-flex !important;
  text-align: center !important;
  align-items: center !important;
  white-space: nowrap !important;
  float: left !important;
}
.ps-personal-space {
  margin-right: 0.5rem !important;
}
.ps-cell {
  padding: 0.5rem 0.5rem !important;
  white-space: nowrap !important;
}
.ps-cell img {
  padding: 0 !important;
}
.ps-left {
  text-align: left !important;
}
.ps-right {
  text-align: right !important;
}
.ps-input {
  min-width: 5rem !important;
}
.ps-bold {
  font-weight: bold !important;
  white-space: nowrap !important;
}
header {
  margin-left: 0.5rem !important;
}
.ps-fit-content {
  max-width: fit-content !important;
}

.rdrDayNumber span {
  color: #dbdbdb !important;
}
.rdrCalendarWrapper {
  color: #ffffff !important;
  background: #212529 !important;
}
.rdrDateDisplayWrapper {
  background-color: #212529 !important;
}
.rdrDateDisplayItem {
  background-color: #212529 !important;
  box-shadow: 0 1px 2px 0 rgba(35, 57, 66, 0.21) !important;
}
.rdrDateDisplayItem input {
  color: #6f6f6f !important;
}
.rdrDateDisplayItemActive {
  border-color: #198754 !important;
}
.rdrDateDisplayItemActive input {
  color: #777777 !important;
}
.rdrMonthAndYearPickers select {
  color: #b7b7b7 !important;
}
.rdrMonthAndYearPickers select:hover {
  background-color: rgba(255, 255, 255, 0.07) !important;
}
.rdrNextPrevButton {
  background: #181818 !important;
}
.rdrNextPrevButton:hover {
  background: #212529 !important;
}
.rdrWeekDay {
  color: rgb(111, 111, 111) !important;
}
.rdrDay {
  color: #dbdbdb !important;
}
.rdrDayToday .rdrDayNumber span:after {
  background: #198754 !important;
}
.rdrDayToday:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span:after,
.rdrDayToday:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span:after,
.rdrDayToday:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span:after,
.rdrDayToday:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span:after {
  background: #000 !important;
}
.rdrDay:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span,
.rdrDay:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span,
.rdrDay:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span,
.rdrDay:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span {
  color: rgba(255, 255, 255, 0.85) !important;
}
.rdrDayStartPreview,
.rdrDayInPreview,
.rdrDayEndPreview {
  background: rgba(0, 0, 0, 0.09) !important;
  color: #198754 !important;
}
.rdrDayHovered,
.rdrDayActive,
.rdrStartEdge,
.rdrEndEdge {
  color: #198754 !important;
}
.rdrDefinedRangesWrapper {
  border-right: solid 1px #111519 !important;
  background: #212529 !important;
}
.rdrStaticRange {
  border-bottom: 1px solid #111519 !important;
  background: #212529 !important;
}
.rdrStaticRange:hover .rdrStaticRangeLabel,
.rdrStaticRange:focus .rdrStaticRangeLabel {
  background: #0d0d0d !important;
}
.rdrStaticRangeSelected {
  color: #198754 !important;
}
.rdrInputRangeInput {
  border: solid 1px rgb(24, 24, 24) !important;
  color: #ffffff !important;
  background: #6d757d !important;
}
.rdrInputRangeInput:focus,
.rdrInputRangeInput:hover {
  border-color: rgb(64, 64, 64) !important;
  color: #ccc !important;
}
.rdrDayPassive .rdrDayNumber span {
  color: #232323 !important;
}
.rdrDayDisabled {
  background-color: rgb(7, 7, 7) !important;
}
.rdrDayDisabled .rdrDayNumber span {
  color: #464646 !important;
}
.rdrInRange {
  color: #198754 !important;
}
.rdrDayDisabled .rdrInRange,
.rdrDayDisabled .rdrStartEdge,
.rdrDayDisabled .rdrEndEdge,
.rdrDayDisabled .rdrSelected,
.rdrDayDisabled .rdrDayStartPreview,
.rdrDayDisabled .rdrDayInPreview,
.rdrDayDisabled .rdrDayEndPreview {
  filter: grayscale(100%) opacity(60%) !important;
}
.rdrMonthName {
  color: #6f6f6f !important;
}
